div.main {
    padding-top: 2rem;
}

div.storages  {
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
        
    .label {
        width: 10rem;
    }
    
    .progress {
        cursor: pointer;
        margin-bottom: .5rem;
        padding: 0;
        height: 1.5rem;
        
        .progress-bar-title {
            position: absolute;
            text-align: center;
            overflow: hidden;
            line-height: 1.5rem;
            font-size: 1rem;
            right: 0;
            left: 0;
            top: 0;
        }
    }
    
    &.progress {
        margin: 0 0 .5rem;
    }
}

div.city {
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .add,
    .remove {
        cursor: pointer;
    }
    
    .workers {
        margin: 0 .5rem;
    }
    
    div.info_bar {
        width: 100%;
        margin: 1rem 0;
        min-height: 2rem;
        border-bottom: solid .0625rem #ddd;
        padding-left: 1rem;
        
        > div > div {
            width: 14rem;
        }
    }
    
    div.storage_bar {
        width: 100%;
        border-bottom: solid .0625rem #ddd;
        padding-left: 1rem;
    }
    
    > div > p.side {
        flex-direction: column;
        width: 8rem;
        min-width: 8rem;
        margin-right: 1rem;
        margin-top: .5rem;
        
        a {
            margin-top: .5rem;
            width: 8rem;
        }
        a.collapsed {
            background: #ddd;
            color: #000;
            border-color: #000;
        }
        a:focus {
            box-shadow: none;
        }
    }
    
    div.mines,
    div.structures,
    div.storages,
    div.unique,
    div.factory,
    div.blueprints {
        flex-direction: column;
        flex-flow: row wrap;
    }
    
    div.storages .row {
        margin-right: 1rem;
    }
    
    div.mine,
    div.factory,
    div.storage,
    div.unique {
        width: 15rem;
        border: solid .0625rem grey;
        margin: 1rem 1rem 0 0;
        padding: 0 .9375rem .5rem;
        flex-flow: row wrap;
        
        .header {
            background: linear-gradient(to top, #bbb, #eee 20%, #eee 80%, #bbb);
            border-bottom: solid .0625rem grey;
            padding: .5rem 0;
        }
        
        > div {
            text-align: center;
        }
    }
    
    div.mine {
        width: 18rem;
    }
    
    div.mine .header {
        background: linear-gradient(to top, #aba, #eee 20%, #eee 80%, #aba);
    }
    
    div.blueprint {
        width: 15rem;
        border: solid .0625rem grey;
        margin: 1rem 1rem 0 0;
        padding: 0 .9375rem .5rem;
        background: #88f;
        color: #fff;
        flex-flow: row wrap;
        
        .header {
            background: linear-gradient(to top, #44f, #88f 20%, #88f 80%, #44f);
            border-bottom: solid .0625rem grey;
            padding: .5rem 0;
        }
        
        > div {
            text-align: center;
        }
    }
    
    div.build {
        cursor: pointer;
    }
}

div.research {
    vertical-align: top;
    padding-top: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    > div {
        flex-direction: column;
        flex-flow: row wrap;
    }
    
    div.tech {
        width: 25rem;
        text-align: center;
        margin: 0 1rem 1rem 0;
        border-radius: 1rem;
        border: .0625rem solid #eff2de;
        cursor: pointer;
        
        .name {
            padding: .25rem 0;
            background-color: #3c3;
            border-radius: 1rem 1rem 0 0;
        }
        .desc {
            padding: .25rem;
            background-color: #eff2de;
        }
        span {
            display: inline-block;
            text-align: center;
            background-color: ##d6d6cf;
            padding: .125rem 0;
            width: 50%;
        }
        .footer {
            padding: .5rem 0;
            background-color: #3c3;
            border-radius: 0 0 1rem 1rem;
        }
    }
}
